<div class="modal" data-modal="true" id="book_modal">
    <div class="modal-content max-w-[600px] top-[15%]">
        <div class="modal-header py-4 px-5">
            <h3 class="modal-title">Ma lecture</h3>
        </div>
        <div class="modal-body p-0 pb-5">
            <div class="scrollable-y-auto" data-scrollable="true" data-scrollable-max-height="auto"
                 data-scrollable-offset="300px">
                <form id="bookReadForm" method="POST">
                    <div class="flex flex-col gap-5 p-5">
                        <div class="flex flex-col gap-1">
                            <label for="book" class="form-label font-normal text-gray-900">Livre</label>
                            <select id="book" name="book" class="select">
                                {% for book in books %}
                                    <option value="{{ book.id }}">{{ book.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="flex flex-col gap-1">
                            <label class="form-label font-normal text-gray-900">Mes notes</label>
                            <div class="flex flex-col w-full gap-1">
                            <textarea name="description" class="textarea"
                                      placeholder="Notez-ici les idées importantes de l'oeuvre."></textarea>
                            </div>
                        </div>

                        <div class="flex flex-col gap-1">
                            <label for="rating" class="form-label font-normal text-gray-900">Note</label>
                            <select id="rating" name="rating" class="select">
                                <option>1</option>
                                <option>1.5</option>
                                <option>2</option>
                                <option>2.5</option>
                                <option>3</option>
                                <option>3.5</option>
                                <option>4</option>
                                <option>4.5</option>
                                <option>5</option>
                            </select>
                        </div>

                        <div class="flex gap-1">
                            <label class="switch">
                                <span class="switch-label font-normal text-gray-900">Lecture terminée</span>
                                <input name="is_read" type="checkbox" value="1"/>
                            </label>
                        </div>

                        <div class="flex">
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('bookReadForm');
        const isReadCheckbox = form.querySelector('input[name="is_read"]');
        const booksRead = [];
        const booksReading = [];

        if (form) {
            isReadCheckbox.addEventListener('change', function () {
                isReadCheckbox.value = isReadCheckbox.checked ? 1 : 0;
            });

            form.addEventListener('submit', function (event) {
                event.preventDefault();

                const formData = new FormData(form);
                const jsonData = {};
                formData.forEach((value, key) => {
                    jsonData[key] = value;
                });

                jsonData['is_read'] = isReadCheckbox.checked;

                const xhr = new XMLHttpRequest();
                xhr.open('POST', '/book/read', true);
                xhr.setRequestHeader('Content-Type', 'application/json');

                xhr.onload = function () {
                    if (xhr.status >= 200 && xhr.status < 300) {
                        const response = JSON.parse(xhr.responseText);
                        const bookRead = response.bookRead;

                        if (bookRead.is_read) {
                            booksRead.push(bookRead);
                            const tableBody = document.querySelector('#read-books-table tbody');
                            const newRow = document.createElement('tr');

                            const fullStars = Math.ceil(bookRead.rating);
                            const emptyStars = 5 - fullStars;

                            newRow.innerHTML = `
                                <td>
                                    <div class="flex flex-col gap-2">
                                        <a class="leading-none font-medium text-sm text-gray-900 hover:text-primary" href="#">
                                            ${bookRead.book}
                                        </a>
                                        <span class="text-2sm text-gray-700 font-normal leading-3">
                                            ${bookRead.description}
                                        </span>
                                    </div>
                                </td>
                                <td>${bookRead.category}</td>
                                <td>
                                    <div class="rating">
                                        ${'<div class="rating-label checked"><i class="rating-on ki-solid ki-star text-base leading-none"></i></div>'.repeat(fullStars)}
                                        ${'<div class="rating-label"><i class="rating-off ki-outline ki-star text-base leading-none"></i></div>'.repeat(emptyStars)}
                                    </div>
                                </td>
                            `;

                            tableBody.appendChild(newRow);
                            updateChart(bookRead.category);
                        } else {
                            booksReading.push(bookRead);
                            const tableBody = document.querySelector('#current-books-table tbody');
                            const newRow = document.createElement('tr');

                            newRow.innerHTML = `
                                <td>
                                    <div class="flex flex-col gap-2">
                                        <a class="leading-none font-medium text-sm text-gray-900 hover:text-primary" href="#">
                                            ${bookRead.book}
                                        </a>
                                        <span class="text-2sm text-gray-700 font-normal leading-3">
                                            ${bookRead.description}
                                        </span>
                                    </div>
                                </td>
                                <td class="text-end">
                                    ${new Date(bookRead.updated_at).toLocaleDateString('fr-FR')} à ${new Date(bookRead.updated_at).toLocaleTimeString('fr-FR', { hour: '2-digit', minute: '2-digit' })}
                                </td>
                            `;

                            tableBody.appendChild(newRow);
                        }

                        form.reset();
                        document.querySelector('[data-modal-toggle="#book_modal"]').click();
                    } else {
                        try {
                            const response = JSON.parse(xhr.responseText);
                            alert('An error occurred: ' + response.message);
                        } catch (e) {
                            console.error('Error parsing JSON:', e);
                            alert('An error occurred while processing the response.');
                        }
                    }
                };

                xhr.onerror = function () {
                    alert('An error occurred during the request.');
                };

                xhr.send(JSON.stringify(jsonData));
            });
        } else {
            console.error('Form not found');
        }
    });
</script>